.user-editpage-wrapper
  .user-editpage-wrapper__header
    アカウント編集
  .user-editpage-wrapper__container
    = form_with model: current_user, url: user_registration_path, local: true do |f|
      .user-editpage-wrapper__container__form-group
        = f.label '名前'
        = f.text_field :name, class: "form-control"
      .user-editpage-wrapper__container__form-group
        = f.label '自己紹介'
        = f.text_area :self_introduction, class: "form-control"
      .user-editpage-wrapper__container__form-group
        性別:
        = f.label '男'
        = f.radio_button :sex, :男
        = f.label '女'
        = f.radio_button :sex, :女
      .user-editpage-wrapper__container__form-group
        画像:
        =f.file_field :img_name, id: 'file_change'

      .user-editpage-wrapper__container__image-check#changeImgPreview
        = image_tag "", id:'thumbnail', class:'user-editpage-wrapper__container__image-check__thumbnail',accept: "image/*"
        .user-editpage-wrapper__container__image-check__text
          画像をアップロード済

      .user-editpage-wrapper__container__form-group
        = f.label '更新するにはパスワードを入力してください'
        = f.password_field :current_password, class: "form-control", autocomplete: "off"
      .user-editpage-wrapper__container__text.text-center
        = f.submit '更新', class: "user-editpage-wrapper__container__text__btn btn submitBtn"
