.index-page-wrapper
  %nav.index-page-wrapper__nav
    %ul
      %li.index-page-wrapper__nav#person-icon
        = link_to user_path(current_user.id) do
          %i.fas.fa-2x.fa-user
      %li.index-page-wrapper__nav#app-icon
        = link_to users_path do
          =image_tag '/techpit-march-icon.png'
    
  #tinderslide
    %ul
      - @users.each do |user|
        %li{data: {user_id: "#{user.id}"}}
          #user-name
            = user.name
          = image_tag user.img_name.url(:thumb)
          .like
          .dislike
    
    #noUser
      近く人お相手がいません。
  
  .actions#actionBtnArea
    = link_to '#', class: 'dislike' do
      %i.fas.fa-times.fa-2x
    = link_to '#', class: 'like' do
      %i.fas.fa-heart.fa-2x



-#   <div id="tinderslide">
-#     <ul>
-#       <% @users.each do |user| %>
-#         <li data-user_id="<%= user.id %>">
-#           <div class="userName"><%= user.name %></div>
-#           <%= image_tag user.img_name.url(:thumb) %>
-#           <div class="like"></div>
-#           <div class="dislike"></div>
-#         </li>
-#       <% end %>
-#     </ul>
-#     <div class="noUser">近くにお相手がいません。</div>
-#   </div>
-#   <div class="actions" id="actionBtnArea">
-#       <a href="#" class="dislike"><i class="fas fa-times fa-2x"></i></a>
-#       <a href="#" class="like"><i class="fas fa-heart fa-2x"></i></a>
-#   </div>
-# </div>
-# <script>
-#   $("#tinderslide").jTinder();
-#   $('.actions .like, .actions .dislike').click(function(e){
-#   	e.preventDefault();
-#   	$("#tinderslide").jTinder($(this).attr('class'));
-#   });
-# </script>