<!DOCTYPE html>
<html>
  <head>
    <title>TechpitMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if class="alert alert-info" flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <% if class="alert alert-danger" flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
